section#home

  h1.main-title Eugene Delta - Presse Information

  .lang-menu.no-select
    a(href='/').menu-link en
    span |
    a.menu-link.active de

  .main-container
    p.main-par.
      Eugene Delta ist das Soloprojekt und Alter Ego von Emanuel Donner, der als Multiinstrumentalist von #[a(href='http://thisisginga.com') Gin Ga] seit mehreren Jahren in ganz Europa auf der Bühne steht.
    .video-container
      iframe(width='640', height='360', src='https://www.youtube.com/embed/Tcv7og-3cig?rel=0&controls=0&showinfo=0?ecver=1', frameborder='0', allowfullscreen='')

    p.main-par Eugene Delta spielt am Strand Einsames mit der Geige in den klagenden Sonnenuntergang. Darüber schwappt beschworen eine Flut an elektroelegischen Wellen. Ein Meer ist Melancholie. Ein Beat ein Orkan. Deltas Stimme ein Schiff. Bestimmt zerbrechlich aber nie zerbrechend führt sie wagemutig sicher durch Sturm und Wirbel. Auf der Bühne ein Mikrofon. Gitarre, Geige, Schlagzeug. Davor und dahinter stehen Synthesizer. Viel Spaß!


  .live-container
    iframe(width='640', height='360', src='https://www.youtube.com/embed/YK_djMRpBKQ?rel=0&controls=0&showinfo=0?ecver=1', frameborder='0', allowfullscreen='').live-video

  .quote-container
    .quote-icon
      //i.material-icons format_quote
      span.no-select "
    .quote.quote__left
      p Eugene Delta gelingt es, akustische und elektronische Komponenten sehr organisch zu verweben. Das hab ich so in der Form selten gehört. Überhaupt find ich das Songwriting fantastisch und auch die Stimme schön.
      span Hubert Weinheimer, das trojanische pferd
    .quote.quote__right
      p Die Geheimwaffe der Band [Gin Ga], und das sei an dieser Stelle auch mal erwähnt, ist aber Emanuel Donner an der Violine, an den Trommeln und am Mikro als herzzerreißende Backgroundstimme. Ihn anzuschauen bedeutet zu sehen, wie sich Noten in Strom verwandeln, wie sich Power und Druck anfühlen, ohne einfach nur am Verstärker zu drehen.
      span Christian Stiegler, fm4

  .photo-container.no-select
    img(src="../assets/img/press_photo1.jpg")
    img(src="../assets/img/press_photo2.jpg")
    img(src="../assets/img/press_photo3.jpg")

    span Hi-Res Presse Photos in Bälde!

  .link-container.no-select
    h2 Weitere Informationen
    p Eugene Delta auf
    a(href='https://www.facebook.com/eugenedelta') Facebook

    a(href='https://www.instagram.com/eugene.delta/') Instagram

    a(href='https://soundcloud.com/eugenedelta') Soundcloud

    a(href='https://twitter.com/eugenedelta3000') Twitter

    a(href='http://eugenedelta.com') eugenedelta.com

    p Kontakt
    a(href='mailto:contact@eugenedelta.com') contact@eugenedelta.com

    br
    br
    hr

    p.footer.no-select © 2017 bei Eugene Delta, Alle Rechte vorbehalten.