section#home

  h1.main-title Eugene Delta - Press Information

  .lang-menu
    a.menu-link.active en
    span |
    a(href='de').menu-link de

  .main-container
    p.main-par.
      Eugene Delta is the solo project and alter ego of Emanuel Donner, who has been performing as a multi-instrumentalist of the band #[a(href='http://thisisginga.com') Gin Ga] on stages all over Europe for many years.

    iframe(width='640', height='360', src='https://www.youtube.com/embed/Tcv7og-3cig?rel=0&controls=0&showinfo=0?ecver=1', frameborder='0', allowfullscreen='').video-container

    p.main-par Eugene Delta plays a lonely violin into the shore’s doleful sunset. Calling upon a flood of electro-elegiac waves. An ocean is melancholia. A beat is a whirlwind. Eugene Delta’s voice is a ship, fragile but never broken, guiding courageously through storm and maelstrom. On stage a microphone. Guitar, violin, drums. Joined by several synthesizers. Enjoy!

    //iframe(width='640', height='360', src='https://www.youtube.com/embed/Tcv7og-3cig?rel=0&controls=0&showinfo=0?ecver=1', frameborder='0', allowfullscreen='').video-container

    .live-container
      img(src="assets/img/live_photo1.jpg")


    .quote-container
      .quote-icon
        //i.material-icons format_quote
        span "
      .quote.quote__left
        p Eugene Delta manages to interweave elements of acoustics and electronica with ease. I’ve rarely ever heard something like that. I think the songwriting is fantastic and the voice beautiful.
        span Hubert Weinheimer, das trojanische pferd
      .quote.quote__right
        p The band’s secret weapon, I have to say, would be Emanuel Donner on violin, percussions and heart-rending backing vocals. Watching him means witnessing sheet music transform into electricity, means getting to see what power and impact feel like, without just turning knobs on an amp.
        span Christian Stiegler, fm4

  .photo-container
    img(src="assets/img/press_photo1.jpg")
    img(src="assets/img/press_photo2.jpg")
    img(src="assets/img/press_photo3.jpg")

    span Hi-Res Press Photos coming soon!

  .link-container
    h2 Further Information
    p Eugene Delta on
    a(href='https://www.facebook.com/eugenedelta') Facebook
    br
    a(href='https://www.instagram.com/eugene.delta/') Instagram
    br
    a(href='https://soundcloud.com/eugenedelta') Soundcloud
    br
    a(href='https://twitter.com/eugenedelta3000') Twitter
    br
    a(href='http://eugenedelta.com') eugenedelta.com

    p Contact
    a(href='mailto:contact@eugenedelta.com') contact@eugenedelta.com

    br
    br
    hr

    p.footer © 2017 by Eugene Delta, All rights reserved.