section#home

  h1.main-title Eugene Delta - Press Information

  .main-container
    p.main-par Eugene Delta plays a lonely violin into the shore’s doleful sunset. Calling upon a flood of electro-elegiac waves. An ocean is melancholia. A beat is a whirlwind. Eugene Delta’s voice is a ship, fragile but never broken, guiding courageously through storm and maelstrom. On stage a microphone. Guitar, violin, drums. Joined by several synthesizers. Enjoy!

