@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Catamaran:300,400|Spectral:300,300i,400,500,700");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 16px; }

h2 {
  font-weight: 300;
  font-size: 2rem; }

a {
  text-decoration: none;
  color: #888; }
  a:hover {
    color: #444; }

hr {
  border: none;
  border-bottom: 1px solid #eeeeee;
  width: 60vw;
  margin: 2rem auto 1rem; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

section#home {
  text-align: center; }
  section#home .main-title {
    font-size: 2.5rem;
    font-weight: 300;
    color: #222; }
  section#home .menu-link {
    text-decoration: none;
    color: #ccc; }
    section#home .menu-link:hover {
      color: #aaa; }
    section#home .menu-link.active {
      color: #666; }
  section#home .main-par {
    font-family: "Spectral";
    font-weight: 300;
    color: #444; }
    @media (max-width: 920px) {
      section#home .main-par {
        padding: 0 2rem; } }
  section#home .lang-menu {
    color: #ccc;
    margin: 0 auto 3rem; }
    section#home .lang-menu span {
      margin: 0 .2rem; }
  section#home .video-container {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0; }
    section#home .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  section#home .main-container {
    width: 60vw;
    margin: 0 auto; }
    @media (max-width: 920px) {
      section#home .main-container {
        width: 100vw; } }
    section#home .main-container .video-container {
      float: none;
      clear: both;
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0; }
      section#home .main-container .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  section#home .live-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url("../img/live_photo1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; }
    @media (min-width: 921px) {
      section#home .live-container:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background: rgba(255, 255, 255, 0.4); } }
    section#home .live-container .live-video {
      z-index: 10; }
    @media (max-width: 920px) {
      section#home .live-container {
        background: none;
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0; }
        section#home .live-container iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; } }
  section#home .quote-container {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 3rem auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: #fff; }
    @media (max-width: 920px) {
      section#home .quote-container {
        display: block;
        width: 80vw; } }
    section#home .quote-container .quote-icon {
      position: absolute;
      top: -25px;
      left: 15px;
      width: 50px;
      height: 50px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #444; }
      section#home .quote-container .quote-icon span {
        display: inline-block;
        font-family: "Catamaran";
        font-size: 4rem;
        height: 4rem;
        weight: 300; }
    section#home .quote-container .quote {
      padding: 0 1rem; }
      section#home .quote-container .quote p {
        font-family: "Spectral";
        font-style: italic; }
      section#home .quote-container .quote__left {
        border-right: 1px solid #ccc; }
        @media (max-width: 920px) {
          section#home .quote-container .quote__left {
            border-right: none;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1rem; } }
  section#home .photo-container {
    width: 80vw;
    margin: 1rem auto;
    position: relative; }
    section#home .photo-container img {
      width: 40%;
      margin: .2rem .4rem; }
    section#home .photo-container span {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 13rem;
      box-sizing: border-box;
      text-align: center;
      font-size: 4rem;
      background: rgba(255, 255, 255, 0.5);
      color: #444;
      opacity: 0; }
      section#home .photo-container span:hover {
        opacity: 1; }
      @media (max-width: 920px) {
        section#home .photo-container span {
          padding: 2rem;
          font-size: 2rem; } }
  section#home .link-container a {
    display: block; }
    @media (max-width: 920px) {
      section#home .link-container a {
        font-size: 1.2rem;
        margin: .4rem; } }
  section#home .footer {
    color: #888;
    font-size: .8rem; }
