section#home
  text-align: center

  .main-title
    font:
      size: 2.5rem
      weight: 300

  .main-par
    font:
      family: "Spectral"
      style: italic

  .main-container
    width: 60vw
    margin: 0 auto
