section#home
  text-align: center

  .main-title
    font:
      size: 2.5rem
      weight: 300
    color: #222

  .menu-link
    text-decoration: none
    color: #ccc

    &:hover
      color: #aaa

    &.active
      color: #666

  .main-par
    font:
      family: "Spectral"
      //style: italic
      weight: 300
    color: #444

    @media(max-width: 920px)
      padding: 0 2rem

  .lang-menu
    color: #ccc
    margin: 0 auto 3rem

    span
      margin: 0 .2rem

  .video-container
    float: none
    clear: both
    width: 100%
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

      
  .main-container
    width: 60vw
    margin: 0 auto

    @media(max-width: 920px)
      width: 100vw
    //
    //  .video-container
    //    width: 100vw
    //    margin: 0
    //.video-container
    //  margin: 1rem auto

    .video-container
      float: none
      clear: both
      width: 100%
      position: relative
      padding-bottom: 56.25%
      padding-top: 25px
      height: 0

      iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

  .live-container
    width: 100%

    height: 500px
    background:
      image: url('../img/live_photo1.jpg')
      size: cover
      attachment: fixed
      position: center
      repeat: no-repeat
    @media(max-width: 920px)
      background:
        attachment: local
        size: contain
        position: left top

      height: 60vw


  .quote-container
    width: 60vw
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    margin: 3rem auto
    border: 1px solid #ccc
    border-radius: 10px
    padding: 1rem
    position: relative
    box-shadow: 5px 5px 5px rgba(black, .1)
    background: #fff

    @media(max-width: 920px)
      display: block
      width: 80vw


    .quote-icon
      position: absolute
      top: -25px
      left: 15px
      width: 50px
      height: 50px
      background: #fff
      display: flex
      justify-content: center
      align-items: center

      color: #444
      span
        display: inline-block
        font:
          family: "Catamaran"
          //style: italic
          size: 4rem
        height: 4rem
        weight: 300
    .quote
      //margin: 0 1rem
      //width: 40%
      padding: 0 1rem
      p
        font:
          family: "Spectral"
          style: italic
      &__left
        border-right: 1px solid #ccc

        @media(max-width: 920px)
          border-right: none
          border-bottom: 1px solid #ccc
          padding-bottom: 1rem


  .photo-container
    width: 80vw
    margin: 1rem auto
    position: relative
    img
      width: 40%
      margin: .2rem .4rem

    span
      position: absolute
      display: inline-block
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin: 0 auto
      padding: 13rem
      box-sizing: border-box
      text-align: center
      font-size: 4rem
      background: rgba(white, .5)
      color: #444
      opacity: 0

      &:hover
        opacity: 1

      @media(max-width: 920px)
        padding: 2rem
        font-size: 2rem

  .link-container
      a
        display: block

        @media(max-width: 920px)
          font-size: 1.2rem
          margin: .4rem

  .footer
    color: #888
    font-size: .8rem